'.source.feature':
  'scroll1':
    'prefix': 'scroll to the top of the page'
    'body': 'scroll to the top of the page'
  'allow2':
    'prefix': 'scroll to the bottom of the page'
    'body': 'scroll to the bottom of the page'
