'.source.feature':
  '1':
    'prefix': 'click the element found by \"identifier\"'
    'body': 'click the element found by \"$1\"'
  '2':
    'prefix': 'click the element found by alias \"identifier\"'
    'body': 'click the element found by alias \"$1\"'
  '3':
    'prefix': 'click the element found by \"identifier\" if it exists'
    'body': 'click the element found by \"$1\" if it exists'
  '4':
    'prefix': 'click the element found by alias \"identifier\" if it exists'
    'body': 'click the element found by alias \"$1\" if it exists'
  '5':
    'prefix': 'click the element with the ID of \"identifier\"'
    'body': 'click the element with the ID of \"$1\"'
  '6':
    'prefix': 'click the element with the class of \"identifier\"'
    'body': 'click the element with the class of \"$1\"'
  '7':
    'prefix': 'click the element with the xpath of \"identifier\"'
    'body': 'click the element with the xpath of \"$1\"'
  '8':
    'prefix': 'click the element with the name of \"identifier\"'
    'body': 'click the element with the name of \"$1\"'
  '9':
    'prefix': 'click the element with the css selector of \"identifier\"'
    'body': 'click the element with the css selector of \"$1\"'
  '10':
    'prefix': 'click the element with the ID of \"identifier\" if it exists'
    'body': 'click the element with the ID of \"$1\" if it exists'
  '11':
    'prefix': 'click the element with the class of \"identifier\" if it exists'
    'body': 'click the element with the class of \"$1\" if it exists'
  '12':
    'prefix': 'click the element with the xpath of \"identifier\" if it exists'
    'body': 'click the element with the xpath of \"$1\" if it exists'
  '13':
    'prefix': 'click the element with the name of \"identifier\" if it exists'
    'body': 'click the element with the name of \"$1\" if it exists'
  '14':
    'prefix': 'click the element with the css selector of \"identifier\" if it exists'
    'body': 'click the element with the css selector of \"$1\" if it exists'
  '15':
    'prefix': 'click the element with the ID alias of \"identifier\"'
    'body': 'click the element with the ID alias of \"$1\"'
  '16':
    'prefix': 'click the element with the class alias of \"identifier\"'
    'body': 'click the element with the class alias of \"$1\"'
  '17':
    'prefix': 'click the element with the xpath alias of \"identifier\"'
    'body': 'click the element with the xpath alias of \"$1\"'
  '18':
    'prefix': 'click the element with the name alias of \"identifier\"'
    'body': 'click the element with the name alias of \"$1\"'
  '19':
    'prefix': 'click the element with the css selector alias of \"identifier\"'
    'body': 'click the element with the css selector alias of \"$1\"'
  '20':
    'prefix': 'click the element with the ID alias of \"identifier\" if it exists'
    'body': 'click the element with the ID alias of \"$1\" if it exists'
  '21':
    'prefix': 'click the element with the class alias of \"identifier\" if it exists'
    'body': 'click the element with the class alias of \"$1\" if it exists'
  '22':
    'prefix': 'click the element with the xpath alias of \"identifier\" if it exists'
    'body': 'click the element with the xpath alias of \"$1\" if it exists'
  '23':
    'prefix': 'click the element with the name alias of \"identifier\" if it exists'
    'body': 'click the element with the name alias of \"$1\" if it exists'
  '24':
    'prefix': 'click the element with the css selector alias of \"identifier\" if it exists'
    'body': 'click the element with the css selector alias of \"$1\" if it exists'
  '31':
    'prefix': 'click the hidden element found by \"identifier\"'
    'body': 'click the hidden element found by \"$1\"'
  '32':
    'prefix': 'click the hidden element found by alias \"identifier\"'
    'body': 'click the hidden element found by alias \"$1\"'
  '33':
    'prefix': 'click the hidden element found by \"identifier\" if it exists'
    'body': 'click the hidden element found by \"$1\" if it exists'
  '34':
    'prefix': 'click the hidden element found by alias \"identifier\" if it exists'
    'body': 'click the hidden element found by alias \"$1\" if it exists'
  '35':
    'prefix': 'click the hidden element with the ID of \"identifier\"'
    'body': 'click the hidden element with the ID of \"$1\"'
  '36':
    'prefix': 'click the hidden element with the class of \"identifier\"'
    'body': 'click the hidden element with the class of \"$1\"'
  '37':
    'prefix': 'click the hidden element with the xpath of \"identifier\"'
    'body': 'click the hidden element with the xpath of \"$1\"'
  '38':
    'prefix': 'click the hidden element with the name of \"identifier\"'
    'body': 'click the hidden element with the name of \"$1\"'
  '39':
    'prefix': 'click the hidden element with the css selector of \"identifier\"'
    'body': 'click the hidden element with the css selector of \"$1\"'
  '40':
    'prefix': 'click the hidden element with the ID of \"identifier\" if it exists'
    'body': 'click the hidden element with the ID of \"$1\" if it exists'
  '41':
    'prefix': 'click the hidden element with the class of \"identifier\" if it exists'
    'body': 'click the hidden element with the class of \"$1\" if it exists'
  '42':
    'prefix': 'click the hidden element with the xpath of \"identifier\" if it exists'
    'body': 'click the hidden element with the xpath of \"$1\" if it exists'
  '43':
    'prefix': 'click the hidden element with the name of \"identifier\" if it exists'
    'body': 'click the hidden element with the name of \"$1\" if it exists'
  '44':
    'prefix': 'click the hidden element with the css selector of \"identifier\" if it exists'
    'body': 'click the hidden element with the css selector of \"$1\" if it exists'
  '45':
    'prefix': 'click the hidden element with the ID alias of \"identifier\"'
    'body': 'click the hidden element with the ID alias of \"$1\"'
  '46':
    'prefix': 'click the hidden element with the class alias of \"identifier\"'
    'body': 'click the hidden element with the class alias of \"$1\"'
  '47':
    'prefix': 'click the hidden element with the xpath alias of \"identifier\"'
    'body': 'click the hidden element with the xpath alias of \"$1\"'
  '48':
    'prefix': 'click the hidden element with the name alias of \"identifier\"'
    'body': 'click the hidden element with the name alias of \"$1\"'
  '49':
    'prefix': 'click the hidden element with the css selector alias of \"identifier\"'
    'body': 'click the hidden element with the css selector alias of \"$1\"'
  '50':
    'prefix': 'click the hidden element with the ID alias of \"identifier\" if it exists'
    'body': 'click the hidden element with the ID alias of \"$1\" if it exists'
  '51':
    'prefix': 'click the hidden element with the class alias of \"identifier\" if it exists'
    'body': 'click the hidden element with the class alias of \"$1\" if it exists'
  '52':
    'prefix': 'click the hidden element with the xpath alias of \"identifier\" if it exists'
    'body': 'click the hidden element with the xpath alias of \"$1\" if it exists'
  '53':
    'prefix': 'click the hidden element with the name alias of \"identifier\" if it exists'
    'body': 'click the hidden element with the name alias of \"$1\" if it exists'
  '54':
    'prefix': 'click the hidden element with the css selector alias of \"identifier\" if it exists'
    'body': 'click the hidden element with the css selector alias of \"$1\" if it exists'
  '60':
    'prefix': 'click the link with the text content of \"link text\"'
    'body': 'click the link with the text content of \"$1\"'
  '61':
    'prefix': 'click the link with the text content of \"link text\" if it exists'
    'body': 'click the link with the text content of \"$1\" if it exists'
  '62':
    'prefix': 'click the link with the text content of alias \"alias name\"'
    'body': 'click the link with the text content of alias \"$1\"'
  '63':
    'prefix': 'click the link with the text content of alias \"alias name\" if it exists'
    'body': 'click the link with the text content of alias \"$1\" if it exists'
  '64':
    'prefix': 'click the hidden link with the text content of \"link text\"'
    'body': 'click the hidden link with the text content of \"$1\"'
  '65':
    'prefix': 'click the hidden link with the text content of \"link text\" if it exists'
    'body': 'click the hidden link with the text content of \"$1\" if it exists'
  '66':
    'prefix': 'click the hidden link with the text content of alias \"alias name\"'
    'body': 'click the hidden link with the text content of alias \"$1\"'
  '67':
    'prefix': 'click the hidden link with the text content of alias \"alias name\" if it exists'
    'body': 'click the hidden link with the text content of alias \"$1\" if it exists'
  '70':
    'prefix': 'click the element with the attribute of \"attribute name\" equal to \"attribute value\"'
    'body': 'click the element with the attribute of \"$1\" equal to \"$2\"'
  '71':
    'prefix': 'click the element with the attribute of \"attribute name\" equal to \"attribute value\" if it exists'
    'body': 'click the element with the attribute of \"$1\" equal to \"$2\" if it exists'
  '72':
    'prefix': 'click the element with the attribute of alias \"attribute alias name\" equal to \"attribute value\"'
    'body': 'click the element with the attribute of alias \"$1\" equal to \"$2\"'
  '73':
    'prefix': 'click the element with the attribute of alias \"attribute alias name\" equal to \"attribute value\" if it exists'
    'body': 'click the element with the attribute of alias \"$1\" equal to \"$2\" if it exists'
  '74':
    'prefix': 'click the element with the attribute of \"attribute name\" equal to alias \"attribute alias value\"'
    'body': 'click the element with the attribute of \"$1\" equal to alias \"$2\"'
  '71':
    'prefix': 'click the element with the attribute of \"attribute name\" equal to alias \"attribute alias value\" if it exists'
    'body': 'click the element with the attribute of \"$1\" equal to alias \"$2\" if it exists'
  '72':
    'prefix': 'click the element with the attribute of alias \"attribute alias name\" equal to alias \"attribute alias value\"'
    'body': 'click the element with the attribute of alias \"$1\" equal to alias \"$2\"'
  '73':
    'prefix': 'click the element with the attribute of alias \"attribute alias name\" equal to alias \"attribute alias value\" if it exists'
    'body': 'click the element with the attribute of alias \"$1\" equal to alias \"$2\" if it exists'                    
