'.source.feature':

  'dispatchnatural1':
    'prefix': 'dispatch a key up event on the "identifier" thing'
    'body': 'dispatch a "keyup" event on the "$1" thing'
  'dispatchnatural2':
    'prefix': 'dispatch a key up event on the alias "identifier" thing'
    'body': 'dispatch a "keyup" event on the alias "$1" thing'
  'dispatchnatural3':
    'prefix': 'dispatch a key down event on the "identifier" thing'
    'body': 'dispatch a "keydown" event on the "$1" thing'
  'dispatchnatural4':
    'prefix': 'dispatch a key down event on the alias "identifier" thing'
    'body': 'dispatch a "keydown" event on the alias "$1" thing'
  'dispatchnatural5':
    'prefix': 'dispatch a key press event on the "identifier" thing'
    'body': 'dispatch a "keypress" event on the "$1" thing'
  'dispatchnatural6':
    'prefix': 'dispatch a key press event on the alias "identifier" thing'
    'body': 'dispatch a "keypress" event on the alias "$1" thing'

  'dispatchnaturalcustom1':
    'prefix': 'dispatch a "change" event on the "identifier" thing'
    'body': 'dispatch a "change" event on the "$1" thing'
  'dispatchnaturalcustom2':
    'prefix': 'dispatch a "change" event on the alias "identifier" thing'
    'body': 'dispatch a "change" event on the alias "$1" thing'
  'dispatchnaturalcustom3':
    'prefix': 'dispatch a "focus" event on the "identifier" thing'
    'body': 'dispatch a "focus" event on the "$1" thing'
  'dispatchnaturalcustom4':
    'prefix': 'dispatch a "focus" event on the alias "identifier" thing'
    'body': 'dispatch a "focus" event on the alias "$1" thing'

  'dispatchnaturalcustom30':
    'prefix': '"mouseup" "##%" horizontally and "##%" vertically within the area of the "identifier" thing'
    'body': '"mouseup" "$1%" horizontally and "$2%" vertically within the area of the "$3" thing'
  'dispatchnaturalcustom31':
    'prefix': '"mousedown" "##%" horizontally and "##%" vertically within the area of the "identifier" thing'
    'body': '"mousedown" "$1%" horizontally and "$2%" vertically within the area of the "$3" thing'
  'dispatchnaturalcustom32':
    'prefix': '"click" "##%" horizontally and "##%" vertically within the area of the "identifier" thing'
    'body': '"click" "$1%" horizontally and "$2%" vertically within the area of the "$3" thing'
  'dispatchnaturalcustom33':
    'prefix': '"mouseover" "##%" horizontally and "##%" vertically within the area of the "identifier" thing'
    'body': '"mouseover" "$1%" horizontally and "$2%" vertically within the area of the "$3" thing'
  'dispatchnaturalcustom34':
    'prefix': '"mouseout" "##%" horizontally and "##%" vertically within the area of the "identifier" thing'
    'body': '"mouseout" "$1%" horizontally and "$2%" vertically within the area of the "$3" thing'
  'dispatchnaturalcustom35':
    'prefix': '"mousemove" "##%" horizontally and "##%" vertically within the area of the "identifier" thing'
    'body': '"mousemove" "$1%" horizontally and "$2%" vertically within the area of the "$3" thing'
  'dispatchnaturalcustom36':
    'prefix': '"dblclick" "##%" horizontally and "##%" vertically within the area of the "identifier" thing'
    'body': '"dblclick" "$1%" horizontally and "$2%" vertically within the area of the "$3" thing'