'.source.feature':
  'go1':
    'prefix': 'go back'
    'body': 'go back'
  'go2':
    'prefix': 'go forward'
    'body': 'go forward'
  'go3':
    'prefix': 'go to the hash location "hash"'
    'body': 'go to the hash location "$1"'
  'go4':
    'prefix': 'go to the hash location alias "hash"'
    'body': 'go to the hash location alias "$1"'
