'.source.feature':
  'javascriptevents1':
    'prefix': 'mouse<something> on the hidden element found by "identifier"'
    'body': '"$1" on the hidden element found by "$2"'
  'javascriptevents2':
    'prefix': 'mouse<something> on the hidden element found by "identifier" if it exists'
    'body': '"$1" on the hidden element found by "$2" if it exists'
  'javascriptevents3':
    'prefix': 'mouse<something> on the hidden element found by alias "alias name"'
    'body': '"$1" on the hidden element found by alias "$2"'
  'javascriptevents4':
    'prefix': 'mouse<something> on the hidden element found by alias "alias name" if it exists'
    'body': '"$1" on the hidden element found by alias "$2" if it exists'
  'javascriptevents10':
    'prefix': 'mouse<something> on the hidden element with the ID of "identifier"'
    'body': '"$1" on the hidden element with the ID of "$2"'
  'javascriptevents11':
    'prefix': 'mouse<something> on the hidden element with the class of "identifier"'
    'body': '"$1" on the hidden element with the class of "$2"'
  'javascriptevents12':
    'prefix': 'mouse<something> on the hidden element with the xpath of "identifier"'
    'body': '"$1" on the hidden element with the xpath of "$2"'
  'javascriptevents13':
    'prefix': 'mouse<something> on the hidden element with the name of "identifier"'
    'body': '"$1" on the hidden element with the name of "$2"'
  'javascriptevents14':
    'prefix': 'mouse<something> on the hidden element with the css selector of "identifier"'
    'body': '"$1" on the hidden element with the css selector of "$2"'
  'javascriptevents20':
    'prefix': 'mouse<something> on the hidden element with the ID of "identifier" if it exists'
    'body': '"$1" on the hidden element with the ID of "$2" if it exists'
  'javascriptevents21':
    'prefix': 'mouse<something> on the hidden element with the class of "identifier" if it exists'
    'body': '"$1" on the hidden element with the class of "$2" if it exists'
  'javascriptevents22':
    'prefix': 'mouse<something> on the hidden element with the xpath of "identifier" if it exists'
    'body': '"$1" on the hidden element with the xpath of "$2" if it exists'
  'javascriptevents23':
    'prefix': 'mouse<something> on the hidden element with the name of "identifier" if it exists'
    'body': '"$1" on the hidden element with the name of "$2" if it exists'
  'javascriptevents24':
    'prefix': 'mouse<something> on the hidden element with the css selector of "identifier" if it exists'
    'body': '"$1" on the hidden element with the css selector of "$2" if it exists'
  'javascriptevents30':
    'prefix': 'mouse<something> on the hidden element with the ID alias of "identifier alias"'
    'body': '"$1" on the hidden element with the ID alias of "$2"'
  'javascriptevents31':
    'prefix': 'mouse<something> on the hidden element with the class alias of "identifier alias"'
    'body': '"$1" on the hidden element with the class alias of "$2"'
  'javascriptevents32':
    'prefix': 'mouse<something> on the hidden element with the xpath alias of "identifier alias"'
    'body': '"$1" on the hidden element with the xpath alias of "$2"'
  'javascriptevents33':
    'prefix': 'mouse<something> on the hidden element with the name alias of "identifier alias"'
    'body': '"$1" on the hidden element with the name alias of "$2"'
  'javascriptevents34':
    'prefix': 'mouse<something> on the hidden element with the css selector alias of "identifier alias"'
    'body': '"$1" on the hidden element with the css selector alias of "$2"'
  'javascriptevents30':
    'prefix': 'mouse<something> on the hidden element with the ID alias of "identifier alias" if it exists'
    'body': '"$1" on the hidden element with the ID alias of "$2" if it exists'
  'javascriptevents31':
    'prefix': 'mouse<something> on the hidden element with the class alias of "identifier alias" if it exists'
    'body': '"$1" on the hidden element with the class alias of "$2" if it exists'
  'javascriptevents32':
    'prefix': 'mouse<something> on the hidden element with the xpath alias of "identifier alias" if it exists'
    'body': '"$1" on the hidden element with the xpath alias of "$2" if it exists'
  'javascriptevents33':
    'prefix': 'mouse<something> on the hidden element with the name alias of "identifier alias" if it exists'
    'body': '"$1" on the hidden element with the name alias of "$2" if it exists'
  'javascriptevents34':
    'prefix': 'mouse<something> on the hidden element with the css selector alias of "identifier alias" if it exists'
    'body': '"$1" on the hidden element with the css selector alias of "$2" if it exists'
