'.source.feature':
  'javascriptevents1':
    'prefix': '"mouse<something>" on the hidden element found by "identifier"'
    'body': '"mousedown" on the hidden element found by "$1"'
  'javascriptevents2':
    'prefix': '"mouse<something>" on the hidden element found by "identifier" if it exists'
    'body': '"mouse<something>" on the hidden element found by "$1" if it exists'
  'javascriptevents3':
    'prefix': '"mouse<something>" on the hidden element found by alias "alias name"'
    'body': '"mouse<something>" on the hidden element found by alias "$1"'
  'javascriptevents4':
    'prefix': '"mouse<something>" on the hidden element found by alias "alias name" if it exists'
    'body': '"mouse<something>" on the hidden element found by alias "$1" if it exists'
  'javascriptevents10':
    'prefix': '"mouse<something>" on the hidden element with the ID of "identifier"'
    'body': '"mouse<something>" on the hidden element with the ID of "$1"'
  'javascriptevents11':
    'prefix': '"mouse<something>" on the hidden element with the class of "identifier"'
    'body': '"mouse<something>" on the hidden element with the class of "$1"'
  'javascriptevents12':
    'prefix': '"mouse<something>" on the hidden element with the xpath of "identifier"'
    'body': '"mouse<something>" on the hidden element with the xpath of "$1"'
  'javascriptevents13':
    'prefix': '"mouse<something>" on the hidden element with the name of "identifier"'
    'body': '"mouse<something>" on the hidden element with the name of "$1"'
  'javascriptevents14':
    'prefix': '"mouse<something>" on the hidden element with the css selector of "identifier"'
    'body': '"mouse<something>" on the hidden element with the css selector of "$1"'
  'javascriptevents20':
    'prefix': '"mouse<something>" on the hidden element with the ID of "identifier" if it exists'
    'body': '"mouse<something>" on the hidden element with the ID of "$1" if it exists'
  'javascriptevents21':
    'prefix': '"mouse<something>" on the hidden element with the class of "identifier" if it exists'
    'body': '"mouse<something>" on the hidden element with the class of "$1" if it exists'
  'javascriptevents22':
    'prefix': '"mouse<something>" on the hidden element with the xpath of "identifier" if it exists'
    'body': '"mouse<something>" on the hidden element with the xpath of "$1" if it exists'
  'javascriptevents23':
    'prefix': '"mouse<something>" on the hidden element with the name of "identifier" if it exists'
    'body': '"mouse<something>" on the hidden element with the name of "$1" if it exists'
  'javascriptevents24':
    'prefix': '"mouse<something>" on the hidden element with the css selector of "identifier" if it exists'
    'body': '"mouse<something>" on the hidden element with the css selector of "$1" if it exists'
  'javascriptevents30':
    'prefix': '"mouse<something>" on the hidden element with the ID alias of "identifier alias"'
    'body': '"mouse<something>" on the hidden element with the ID alias of "$1"'
  'javascriptevents31':
    'prefix': '"mouse<something>" on the hidden element with the class alias of "identifier alias"'
    'body': '"mouse<something>" on the hidden element with the class alias of "$1"'
  'javascriptevents32':
    'prefix': '"mouse<something>" on the hidden element with the xpath alias of "identifier alias"'
    'body': '"mouse<something>" on the hidden element with the xpath alias of "$1"'
  'javascriptevents33':
    'prefix': '"mouse<something>" on the hidden element with the name alias of "identifier alias"'
    'body': '"mouse<something>" on the hidden element with the name alias of "$1"'
  'javascriptevents34':
    'prefix': '"mouse<something>" on the hidden element with the css selector alias of "identifier alias"'
    'body': '"mouse<something>" on the hidden element with the css selector alias of "$1"'
  'javascriptevents30':
    'prefix': '"mouse<something>" on the hidden element with the ID alias of "identifier alias" if it exists'
    'body': '"mouse<something>" on the hidden element with the ID alias of "$1" if it exists'
  'javascriptevents31':
    'prefix': '"mouse<something>" on the hidden element with the class alias of "identifier alias" if it exists'
    'body': '"mouse<something>" on the hidden element with the class alias of "$1" if it exists'
  'javascriptevents32':
    'prefix': '"mouse<something>" on the hidden element with the xpath alias of "identifier alias" if it exists'
    'body': '"mouse<something>" on the hidden element with the xpath alias of "$1" if it exists'
  'javascriptevents33':
    'prefix': '"mouse<something>" on the hidden element with the name alias of "identifier alias" if it exists'
    'body': '"mouse<something>" on the hidden element with the name alias of "$1" if it exists'
  'javascriptevents34':
    'prefix': '"mouse<something>" on the hidden element with the css selector alias of "identifier alias" if it exists'
    'body': '"mouse<something>" on the hidden element with the css selector alias of "$1" if it exists'
