'.source.feature':
  'modify1':
    'prefix': 'modify the alias "alias" by removing all characters that match the regex "regex"'
    'body': 'modify the alias "$1" by removing all characters that match the regex "$2"'
  'modify2':
    'prefix': 'modify the alias "alias" by replacing all characters that match the regex "regex" with "replacement"'
    'body': 'modify the alias "$1" by replacing all characters that match the regex "$2" with "replacement"'
  'modify3':
    'prefix': 'modify the alias "alias" by replacing the first characters that match the regex "regex" with "replacement"'
    'body': 'modify the alias "$1" by replacing the first characters that match the regex "$2" with "$3"'
   'modify3':
     'prefix': 'modify the alias "alias" by prepending it with "text"'
     'body': 'modify the alias "$1" by prepending it with "$2"'
   'modify4':
     'prefix': 'modify the alias "alias" by prepending it with alias "alias"'
     'body': 'modify the alias "$1" by prepending it with alias "$2"'
   'modify5':
     'prefix': 'modify the alias "alias" by appending it with "text"'
     'body': 'modify the alias "$1" by appending it with "$2"'
   'modify6':
     'prefix': 'modify the alias "alias" by appending it with alias "alias"'
     'body': 'modify the alias "$1" by appending it with alias "$2"'
   'modify7':
     'prefix': 'modify the alias "alias" by trimming it'
     'body': 'modify the alias "$1" by trimming it'
   'modify8':
     'prefix': 'copy the alias "alias" to the alias "alias"'
     'body': 'copy the alias "$1" to the alias "$2"'
   'modify9':
     'prefix': 'modify the element found by "identifier" by setting the attribute "attribute-name" to "new attribute value"'
     'body': 'modify the element found by "$1" by setting the attribute "$2" to "$3"'     
   'modify10':
     'prefix': 'modify the alias "alias" by converting it to upper case'
     'body': 'modify the alias "alias" by converting it to upper case'
  'modify11':
     'prefix': 'modify the alias "alias" by converting it to lower case'
     'body': 'modify the alias "alias" by converting it to lower case'