'.source.feature':

  'populatetwonatural1':
    'prefix': 'populate the "identifier" thing with "text"'
    'body': 'populate the "$1" thing with "$2"'
  'populatetwonatural2':
    'prefix': 'populate the alias "identifier" thing with "text"'
    'body': 'populate the alias "$1" thing with "$2"'
  'populatetwonatural3':
    'prefix': 'populate the alias "identifier" thing with alias "text"'
    'body': 'populate the alias "$1" thing with alias "$2"'
  'populatetwonatural4':
    'prefix': 'populate the "identifier" thing with alias "text"'
    'body': 'populate the "$1" thing with alias "$2"'

  'populatetwonatural4':
    'prefix': 'populate the "identifier" thing with "text" if it exists'
    'body': 'populate the "$1" thing with "$2" if it exists'
  'populatetwonatural5':
    'prefix': 'populate the alias "identifier" thing with "text" if it exists'
    'body': 'populate the alias "$1" thing with "$2" if it exists'
  'populatetwonatural6':
    'prefix': 'populate the alias "identifier" thing with alias "text" if it exists'
    'body': 'populate the alias "$1" thing with alias "$2" if it exists'
  'populatetwonatural7':
    'prefix': 'populate the "identifier" thing with alias "text" if it exists'
    'body': 'populate the "$1" thing with alias "$2" if it exists'

  'populatetwonatural8':
    'prefix': 'populate the "identifier" thing with "text" if it is empty'
    'body': 'populate the "$1" thing with "$2" if it is empty'
  'populatetwonatural9':
    'prefix': 'populate the alias "identifier" thing with "text" if it is empty'
    'body': 'populate the alias "$1" thing with "$2" if it is empty'
  'populatetwonatural10':
    'prefix': 'populate the alias "identifier" thing with alias "text" if it is empty'
    'body': 'populate the alias "$1" thing with alias "$2" if it is empty'
  'populatetwonatural11':
    'prefix': 'populate the "identifier" thing with alias "text" if it is empty'
    'body': 'populate the "$1" thing with alias "$2" if it is empty'

  'populatetwonatural12':
    'prefix': 'populate the "identifier" thing with "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the "$1" thing with "$2" with a keystroke delay of "$3" milliseconds'
  'populatetwonatural13':
    'prefix': 'populate the alias "identifier" thing with "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the alias "$1" thing with "$2" with a keystroke delay of "$3" milliseconds'
  'populatetwonatural14':
    'prefix': 'populate the alias "identifier" thing with alias "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the alias "$1" thing with alias "$2" with a keystroke delay of "$3" milliseconds'
  'populatetwonatural15':
    'prefix': 'populate the "identifier" thing with alias "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the "$1" thing with alias "$2" with a keystroke delay of "$3" milliseconds'
