'.source.feature':

  'populatetworandomnatural1':
    'prefix': 'populate the "identifier" thing with "text"'
    'body': 'populate the "$1" thing with "$2"'
  'populatetworandomnatural2':
    'prefix': 'populate the alias "identifier" thing with "text"'
    'body': 'populate the alias "$1" thing with "$2"'
  'populatetworandomnatural3':
    'prefix': 'populate the alias "identifier" thing with alias "text"'
    'body': 'populate the alias "$1" thing with alias "$2"'
  'populatetworandomnatural4':
    'prefix': 'populate the "identifier" thing with alias "text"'
    'body': 'populate the "$1" thing with alias "$2"'

  'populatetworandomnatural4':
    'prefix': 'populate the "identifier" thing with "text" if it exists'
    'body': 'populate the "$1" thing with "$2" if it exists'
  'populatetworandomnatural5':
    'prefix': 'populate the alias "identifier" thing with "text" if it exists'
    'body': 'populate the alias "$1" thing with "$2" if it exists'
  'populatetworandomnatural6':
    'prefix': 'populate the alias "identifier" thing with alias "text" if it exists'
    'body': 'populate the alias "$1" thing with alias "$2" if it exists'
  'populatetworandomnatural7':
    'prefix': 'populate the "identifier" thing with alias "text" if it exists'
    'body': 'populate the "$1" thing with alias "$2" if it exists'

  'populatetworandomnatural8':
    'prefix': 'populate the "identifier" thing with "text" if it is empty'
    'body': 'populate the "$1" thing with "$2" if it is empty'
  'populatetworandomnatural9':
    'prefix': 'populate the alias "identifier" thing with "text" if it is empty'
    'body': 'populate the alias "$1" thing with "$2" if it is empty'
  'populatetworandomnatural10':
    'prefix': 'populate the alias "identifier" thing with alias "text" if it is empty'
    'body': 'populate the alias "$1" thing with alias "$2" if it is empty'
  'populatetworandomnatural11':
    'prefix': 'populate the "identifier" thing with alias "text" if it is empty'
    'body': 'populate the "$1" thing with alias "$2" if it is empty'

  'populatetworandomnatural12':
    'prefix': 'populate the "identifier" thing with "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the "$1" thing with "$2" with a keystroke delay of "$3" milliseconds'
  'populatetworandomnatural13':
    'prefix': 'populate the alias "identifier" thing with "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the alias "$1" thing with "$2" with a keystroke delay of "$3" milliseconds'
  'populatetworandomnatural14':
    'prefix': 'populate the alias "identifier" thing with alias "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the alias "$1" thing with alias "$2" with a keystroke delay of "$3" milliseconds'
  'populatetworandomnatural15':
    'prefix': 'populate the "identifier" thing with alias "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the "$1" thing with alias "$2" with a keystroke delay of "$3" milliseconds'
