'.source.feature':

  'populatetwohidden1':
    'prefix': 'populate the hidden element found by "identifier" with "text"'
    'body': 'populate the hidden element found by "$1" with "$2"'
  'populatetwohidden2':
    'prefix': 'populate the hidden element found by alias "identifier" with "text"'
    'body': 'populate the hidden element found by alias "$1" with "$2"'
  'populatetwohidden3':
    'prefix': 'populate the hidden element found by alias "identifier" with alias "text"'
    'body': 'populate the hidden element found by alias "$1" with alias "$2"'
  'populatetwohidden4':
    'prefix': 'populate the hidden element found by "identifier" with alias "text"'
    'body': 'populate the hidden element found by "$1" with alias "$2"'

  'populatetwohidden24':
    'prefix': 'populate the hidden element found by "identifier" with "text" if it exists'
    'body': 'populate the hidden element found by "$1" with "$2" if it exists'
  'populatetwohidden25':
    'prefix': 'populate the hidden element found by alias "identifier" with "text" if it exists'
    'body': 'populate the hidden element found by alias "$1" with "$2" if it exists'
  'populatetwohidden26':
    'prefix': 'populate the hidden element found by alias "identifier" with alias "text" if it exists'
    'body': 'populate the hidden element found by alias "$1" with alias "$2" if it exists'
  'populatetwohidden27':
    'prefix': 'populate the hidden element found by "identifier" with alias "text" if it exists'
    'body': 'populate the hidden element found by "$1" with alias "$2" if it exists'

  'populatetwohidden8':
    'prefix': 'populate the hidden element found by "identifier" with "text" if it is empty'
    'body': 'populate the hidden element found by "$1" with "$2" if it is empty'
  'populatetwohidden9':
    'prefix': 'populate the hidden element found by alias "identifier" with "text" if it is empty'
    'body': 'populate the hidden element found by alias "$1" with "$2" if it is empty'
  'populatetwohidden10':
    'prefix': 'populate the hidden element found by alias "identifier" with alias "text" if it is empty'
    'body': 'populate the hidden element found by alias "$1" with alias "$2" if it is empty'
  'populatetwohidden11':
    'prefix': 'populate the hidden element found by "identifier" with alias "text" if it is empty'
    'body': 'populate the hidden element found by "$1" with alias "$2" if it is empty'

  'populatetwohidden12':
    'prefix': 'populate the hidden element found by "identifier" with "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the hidden element found by "$1" with "$2" with a keystroke delay of "$3" milliseconds'
  'populatetwohidden13':
    'prefix': 'populate the hidden element found by alias "identifier" with "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the hidden element found by alias "$1" with "$2" with a keystroke delay of "$3" milliseconds'
  'populatetwohidden14':
    'prefix': 'populate the hidden element found by alias "identifier" with alias "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the hidden element found by alias "$1" with alias "$2" with a keystroke delay of "$3" milliseconds'
  'populatetwohidden15':
    'prefix': 'populate the hidden element found by "identifier" with alias "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the hidden element found by "$1" with alias "$2" with a keystroke delay of "$3" milliseconds'
