'.source.feature':

  'populatetworandom1':
    'prefix': 'populate the element found by "identifier" with "text"'
    'body': 'populate the element found by "$1" with "$2"'
  'populatetworandom2':
    'prefix': 'populate the element found by alias "identifier" with "text"'
    'body': 'populate the element found by alias "$1" with "$2"'
  'populatetworandom3':
    'prefix': 'populate the element found by alias "identifier" with alias "text"'
    'body': 'populate the element found by alias "$1" with alias "$2"'
  'populatetworandom4':
    'prefix': 'populate the element found by "identifier" with alias "text"'
    'body': 'populate the element found by "$1" with alias "$2"'

  'populatetworandom24':
    'prefix': 'populate the element found by "identifier" with "text" if it exists'
    'body': 'populate the element found by "$1" with "$2" if it exists'
  'populatetworandom25':
    'prefix': 'populate the element found by alias "identifier" with "text" if it exists'
    'body': 'populate the element found by alias "$1" with "$2" if it exists'
  'populatetworandom26':
    'prefix': 'populate the element found by alias "identifier" with alias "text" if it exists'
    'body': 'populate the element found by alias "$1" with alias "$2" if it exists'
  'populatetworandom27':
    'prefix': 'populate the element found by "identifier" with alias "text" if it exists'
    'body': 'populate the element found by "$1" with alias "$2" if it exists'

  'populatetworandom8':
    'prefix': 'populate the element found by "identifier" with "text" if it is empty'
    'body': 'populate the element found by "$1" with "$2" if it is empty'
  'populatetworandom9':
    'prefix': 'populate the element found by alias "identifier" with "text" if it is empty'
    'body': 'populate the element found by alias "$1" with "$2" if it is empty'
  'populatetworandom10':
    'prefix': 'populate the element found by alias "identifier" with alias "text" if it is empty'
    'body': 'populate the element found by alias "$1" with alias "$2" if it is empty'
  'populatetworandom11':
    'prefix': 'populate the element found by "identifier" with alias "text" if it is empty'
    'body': 'populate the element found by "$1" with alias "$2" if it is empty'

  'populatetworandom12':
    'prefix': 'populate the element found by "identifier" with "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the element found by "$1" with "$2" with a keystroke delay of "$3" milliseconds'
  'populatetworandom13':
    'prefix': 'populate the element found by alias "identifier" with "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the element found by alias "$1" with "$2" with a keystroke delay of "$3" milliseconds'
  'populatetworandom14':
    'prefix': 'populate the element found by alias "identifier" with alias "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the element found by alias "$1" with alias "$2" with a keystroke delay of "$3" milliseconds'
  'populatetworandom15':
    'prefix': 'populate the element found by "identifier" with alias "text" with a keystroke delay of "delay" milliseconds'
    'body': 'populate the element found by "$1" with alias "$2" with a keystroke delay of "$3" milliseconds'
