'.source.feature':
  'run1':
    'prefix': 'run the following JavaScript and save the result to alias "Alias Name"'
    'body': '''
        run the following JavaScript and save the result to alias "$1
        """
        return 'This is a JavaScript statement';
        """
    '''
  'run2':
    'prefix': 'run the following JavaScript'
    'body': '''
        run the following JavaScript
        """
        console.log('Doing some JavaScript things')
        """
    '''
