'.source.feature':
  'allow1':
    'prefix': 'enable the whitelist with responding with "code" for unmatched requests'
    'body': 'enable the whitelist with responding with "$1" for unmatched requests'
  'allow2':
    'prefix': 'allow access to the URL regex "regex"'
    'body': 'allow access to the URL regex "$1"'
