'.source.feature':
  'verify1':
    'prefix': 'verify that the browser title should be "title"'
    'body': 'verify that the browser title should be "$1"'
  'verify2':
    'prefix': 'verify that the element found by "identifier" should have a class of "class"'
    'body': 'verify that the element found by "$1" should have a class of "$2"'
  'verify3':
    'prefix': 'verify that the element found by alias "identifier" should have a class of "class"'
    'body': 'verify that the element found by alias "$1" should have a class of "$2"'
  'verify4':
    'prefix': 'verify that the element found by "identifier" should have a class of alias "class"'
    'body': 'verify that the element found by "$1" should have a class of alias "$2"'
  'verify5':
    'prefix': 'verify that the element found by alias "identifier" should have a class of alias "class"'
    'body': 'verify that the element found by alias "$1" should have a class of alias "$2"'
  'verify6':
    'prefix': 'verify that the element found by "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element found by "$1" should have a class of "$2" if it exists'
  'verify7':
    'prefix': 'verify that the element found by alias "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element found by alias "$1" should have a class of "$2" if it exists'
  'verify8':
    'prefix': 'verify that the element found by "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element found by "$1" should have a class of alias "$2" if it exists'
  'verify9':
    'prefix': 'verify that the element found by alias "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element found by alias "$1" should have a class of alias "$2" if it exists'

  'verify10':
    'prefix': 'verify that the element with the ID of "identifier" should have a class of "class"'
    'body': 'verify that the element with the ID of "$1" should have a class of "$2"'
  'verify11':
    'prefix': 'verify that the element with the ID of alias "identifier" should have a class of "class"'
    'body': 'verify that the element with the ID of alias "$1" should have a class of "$2"'
  'verify12':
    'prefix': 'verify that the element with the ID of "identifier" should have a class of alias "class"'
    'body': 'verify that the element with the ID of "$1" should have a class of alias "$2"'
  'verify13':
    'prefix': 'verify that the element with the ID of alias "identifier" should have a class of alias "class"'
    'body': 'verify that the element with the ID of alias "$1" should have a class of alias "$2"'
  'verify14':
    'prefix': 'verify that the element with the ID of "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element with the ID of "$1" should have a class of "$2" if it exists'
  'verify15':
    'prefix': 'verify that the element with the ID of alias "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element with the ID of alias "$1" should have a class of "$2" if it exists'
  'verify16':
    'prefix': 'verify that the element with the ID of "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element with the ID of "$1" should have a class of alias "$2" if it exists'
  'verify17':
    'prefix': 'verify that the element with the ID of alias "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element with the ID of alias "$1" should have a class of alias "$2" if it exists'

  'verify20':
    'prefix': 'verify that the element with the class of "identifier" should have a class of "class"'
    'body': 'verify that the element with the class of "$1" should have a class of "$2"'
  'verify21':
    'prefix': 'verify that the element with the class of alias "identifier" should have a class of "class"'
    'body': 'verify that the element with the class of alias "$1" should have a class of "$2"'
  'verify22':
    'prefix': 'verify that the element with the class of "identifier" should have a class of alias "class"'
    'body': 'verify that the element with the class of "$1" should have a class of alias "$2"'
  'verify23':
    'prefix': 'verify that the element with the class of alias "identifier" should have a class of alias "class"'
    'body': 'verify that the element with the class of alias "$1" should have a class of alias "$2"'
  'verify24':
    'prefix': 'verify that the element with the class of "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element with the class of "$1" should have a class of "$2" if it exists'
  'verify25':
    'prefix': 'verify that the element with the class of alias "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element with the class of alias "$1" should have a class of "$2" if it exists'
  'verify26':
    'prefix': 'verify that the element with the class of "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element with the class of "$1" should have a class of alias "$2" if it exists'
  'verify27':
    'prefix': 'verify that the element with the class of alias "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element with the class of alias "$1" should have a class of alias "$2" if it exists'

  'verify30':
    'prefix': 'verify that the element with the xpath of "identifier" should have a class of "class"'
    'body': 'verify that the element with the xpath of "$1" should have a class of "$2"'
  'verify31':
    'prefix': 'verify that the element with the xpath of alias "identifier" should have a class of "class"'
    'body': 'verify that the element with the xpath of alias "$1" should have a class of "$2"'
  'verify32':
    'prefix': 'verify that the element with the xpath of "identifier" should have a class of alias "class"'
    'body': 'verify that the element with the xpath of "$1" should have a class of alias "$2"'
  'verify33':
    'prefix': 'verify that the element with the xpath of alias "identifier" should have a class of alias "class"'
    'body': 'verify that the element with the xpath of alias "$1" should have a class of alias "$2"'
  'verify34':
    'prefix': 'verify that the element with the xpath of "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element with the xpath of "$1" should have a class of "$2" if it exists'
  'verify35':
    'prefix': 'verify that the element with the xpath of alias "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element with the xpath of alias "$1" should have a class of "$2" if it exists'
  'verify36':
    'prefix': 'verify that the element with the xpath of "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element with the xpath of "$1" should have a class of alias "$2" if it exists'
  'verify37':
    'prefix': 'verify that the element with the xpath of alias "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element with the xpath of alias "$1" should have a class of alias "$2" if it exists'

  'verify40':
    'prefix': 'verify that the element with the name of "identifier" should have a class of "class"'
    'body': 'verify that the element with the name of "$1" should have a class of "$2"'
  'verify41':
    'prefix': 'verify that the element with the name of alias "identifier" should have a class of "class"'
    'body': 'verify that the element with the name of alias "$1" should have a class of "$2"'
  'verify42':
    'prefix': 'verify that the element with the name of "identifier" should have a class of alias "class"'
    'body': 'verify that the element with the name of "$1" should have a class of alias "$2"'
  'verify43':
    'prefix': 'verify that the element with the name of alias "identifier" should have a class of alias "class"'
    'body': 'verify that the element with the name of alias "$1" should have a class of alias "$2"'
  'verify44':
    'prefix': 'verify that the element with the name of "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element with the name of "$1" should have a class of "$2" if it exists'
  'verify45':
    'prefix': 'verify that the element with the name of alias "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element with the name of alias "$1" should have a class of "$2" if it exists'
  'verify46':
    'prefix': 'verify that the element with the name of "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element with the name of "$1" should have a class of alias "$2" if it exists'
  'verify47':
    'prefix': 'verify that the element with the name of alias "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element with the name of alias "$1" should have a class of alias "$2" if it exists'

  'verify50':
    'prefix': 'verify that the element with the css selector of "identifier" should have a class of "class"'
    'body': 'verify that the element with the css selector of "$1" should have a class of "$2"'
  'verify51':
    'prefix': 'verify that the element with the css selector of alias "identifier" should have a class of "class"'
    'body': 'verify that the element with the css selector of alias "$1" should have a class of "$2"'
  'verify52':
    'prefix': 'verify that the element with the css selector of "identifier" should have a class of alias "class"'
    'body': 'verify that the element with the css selector of "$1" should have a class of alias "$2"'
  'verify53':
    'prefix': 'verify that the element with the css selector of alias "identifier" should have a class of alias "class"'
    'body': 'verify that the element with the css selector of alias "$1" should have a class of alias "$2"'
  'verify54':
    'prefix': 'verify that the element with the css selector of "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element with the css selector of "$1" should have a class of "$2" if it exists'
  'verify55':
    'prefix': 'verify that the element with the css selector of alias "identifier" should have a class of "class" if it exists'
    'body': 'verify that the element with the css selector of alias "$1" should have a class of "$2" if it exists'
  'verify56':
    'prefix': 'verify that the element with the css selector of "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element with the css selector of "$1" should have a class of alias "$2" if it exists'
  'verify57':
    'prefix': 'verify that the element with the css selector of alias "identifier" should have a class of alias "class" if it exists'
    'body': 'verify that the element with the css selector of alias "$1" should have a class of alias "$2" if it exists'

  'verify60':
    'prefix': 'verify that the alias "alias" is empty'
    'body': 'verify that the alias "$1" is empty'
  'verify61':
    'prefix': 'verify that the alias "alias" is not empty'
    'body': 'verify that the alias "$1" is not empty'
  'verify62':
    'prefix': 'verify that the alias "alias" is a number'
    'body': 'verify that the alias "$1" is a number'
  'verify63':
    'prefix': 'verify that the alias "alias" is not a number'
    'body': 'verify that the alias "$1" is not a number'
  'verify64':
    'prefix': 'verify that the alias "alias" matches the regex "regex"'
    'body': 'verify that the alias "$1" matches the regex "$2"'
  'verify65':
    'prefix': 'verify that the alias "alias" does not match the regex "regex"'
    'body': 'verify that the alias "$1" does not match the regex "$2"'
  'verify66':
    'prefix': 'verify that the alias "alias" is equal to "value"'
    'body': 'verify that the alias "$1" is equal to "$2"'
  'verify67':
    'prefix': 'verify that the alias "alias" is not equal to "value"'
    'body': 'verify that the alias "$1" is not equal to "$2"'
  'verify68':
    'prefix': 'verify that the alias "alias" is equal to alias "value"'
    'body': 'verify that the alias "$1" is equal to alias "$2"'
  'verify69':
    'prefix': 'verify that the alias "alias" is not equal to alias "value"'
    'body': 'verify that the alias "$1" is not equal to alias "$2"'

  'verify70':
    'prefix': 'verify that the page contains the text "text"'
    'body': 'verify that the page contains the text "$1"'
  'verify71':
    'prefix': 'verify that the page contains the text alias "text"'
    'body': 'verify that the page contains the text alias "$1"'

  'verify72':
    'prefix': 'verify that the page contains the regex "text"'
    'body': 'verify that the page contains the regex "$1"'
  'verify73':
    'prefix': 'verify that the page contains the regex alias "text"'
    'body': 'verify that the page contains the regex alias "$1"'

    'verify74':
      'prefix': 'verify that the page does not contain the text "text"'
      'body': 'verify that the page does not contain the text "$1"'
    'verify75':
      'prefix': 'verify that the page does not contain the text alias "text"'
      'body': 'verify that the page does not contain the text alias "$1"'

    'verify76':
      'prefix': 'verify that the page does not contain the regex "text"'
      'body': 'verify that the page does not contain the regex "$1"'
    'verify77':
      'prefix': 'verify that the page does not contain the regex alias "text"'
      'body': 'verify that the page does not contain the regex alias "$1"'

  'verify90':
    'prefix': 'verify that there were no HTTP errors'
    'body': 'verify that there were no HTTP errors'
