'.source.feature':

  'wait0':
    'prefix': 'wait for "time" seconds'
    'body': 'wait for "$1" seconds'

  'wait1':
    'prefix': 'wait "time" seconds for a link with the text content of "content" to be present'
    'body': 'wait "$1" seconds for a link with the text content of "$2" to be present'

  'wait1.5':
    'prefix': 'wait "time" seconds for a link with the text content of alias "content" to be present'
    'body': 'wait "$1" seconds for a link with the text content of alias "$2" to be present'

  'wait2':
    'prefix': 'wait "time" seconds for the element found by "identifier" to be present'
    'body': 'wait "$1" seconds for the element found by "$2" to be present'
  'wait3':
    'prefix': 'wait "time" seconds for the element found by "identifier" to be present ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by "$2" to be present ignoring timeouts'
  'wait4':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to be present'
    'body': 'wait "$1" seconds for the element found by alias "$2" to be present'
  'wait5':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to be present ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by alias "$2" to be present ignoring timeouts'

  'wait10':
    'prefix': 'wait "time" seconds for the element found by "identifier" to be displayed'
    'body': 'wait "$1" seconds for the element found by "$2" to be displayed'
  'wait11':
    'prefix': 'wait "time" seconds for the element found by "identifier" to be displayed ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by "$2" to be displayed ignoring timeouts'
  'wait12':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to be displayed'
    'body': 'wait "$1" seconds for the element found by alias "$2" to be displayed'
  'wait13':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to be displayed ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by alias "$2" to be displayed ignoring timeouts'

  'wait20':
    'prefix': 'wait "time" seconds for the element found by "identifier" to be present'
    'body': 'wait "$1" seconds for the element found by "$2" to be present'
  'wait21':
    'prefix': 'wait "time" seconds for the element found by "identifier" to be present ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by "$2" to be present ignoring timeouts'
  'wait22':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to be present'
    'body': 'wait "$1" seconds for the element found by alias "$2" to be present'
  'wait23':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to be present ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by alias "$2" to be present ignoring timeouts'

  'wait30':
    'prefix': 'wait "time" seconds for the element found by "identifier" to not be present'
    'body': 'wait "$1" seconds for the element found by "$2" to not be present'
  'wait31':
    'prefix': 'wait "time" seconds for the element found by "identifier" to not be present ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by "$2" to not be present ignoring timeouts'
  'wait32':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to not be present'
    'body': 'wait "$1" seconds for the element found by alias "$2" to not be present'
  'wait33':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to not be present ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by alias "$2" to not be present ignoring timeouts'

  'wait40':
    'prefix': 'wait "time" seconds for the element found by "identifier" to not be displayed'
    'body': 'wait "$1" seconds for the element found by "$2" to not be displayed'
  'wait41':
    'prefix': 'wait "time" seconds for the element found by "identifier" to not be displayed ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by "$2" to not be displayed ignoring timeouts'
  'wait42':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to not be displayed'
    'body': 'wait "$1" seconds for the element found by alias "$2" to not be displayed'
  'wait43':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to not be displayed ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by alias "$2" to not be displayed ignoring timeouts'

  'wait50':
    'prefix': 'wait "time" seconds for the element found by "identifier" to not be present'
    'body': 'wait "$1" seconds for the element found by "$2" to not be present'
  'wait51':
    'prefix': 'wait "time" seconds for the element found by "identifier" to not be present ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by "$2" to not be present ignoring timeouts'
  'wait52':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to not be present'
    'body': 'wait "$1" seconds for the element found by alias "$2" to not be present'
  'wait53':
    'prefix': 'wait "time" seconds for the element found by alias "identifier" to not be present ignoring timeouts'
    'body': 'wait "$1" seconds for the element found by alias "$2" to not be present ignoring timeouts'

  'wait60':
    'prefix': 'wait "time" seconds for the page to contain the text "text"'
    'body': 'wait "$1" seconds for the page to contain the text "$2"'
  'wait61':
      'prefix': 'wait "time" seconds for the page to contain the text alias "text"'
      'body': 'wait "$1" seconds for the page to contain the text alias "$2"'
  'wait62':
    'prefix': 'wait "time" seconds for thepage to contain the regex "text"'
    'body': 'wait "$1" seconds for the page to contain the regex "$2"'
  'wait63':
      'prefix': 'wait "time" seconds for the page to contain the regex alias "text"'
      'body': 'wait "$1" seconds for the page to contain the regex alias "$2"'

  'wait70':
      'prefix': 'wait "time" seconds for an alert to be displayed'
      'body': 'wait "$1" seconds for an alert to be displayed'
  'wait71':
      'prefix': 'wait "time" seconds for an alert to be displayed, ignoring timeouts'
      'body': 'wait "$1" seconds for an alert to be displayed, ignoring timeouts'
