'.source.feature':

  'waitclickable10':
    'prefix': 'wait "time" seconds for the element with the ID of "identifier" to be clickable'
    'body': 'wait "$1" seconds for the element with the ID of "$2" to be clickable'
  'waitclickable11':
    'prefix': 'wait "time" seconds for the element with the ID of "identifier" to be clickable ignoring timeouts'
    'body': 'wait "$1" seconds for the element with the ID of "$2" to be clickable ignoring timeouts'
  'waitclickable12':
    'prefix': 'wait "time" seconds for the element with the ID of alias "identifier" to be clickable ignoring timeouts'
    'body': 'wait "$1" seconds for the element with the ID of alias "$2" to be clickable ignoring timeouts'
  'waitclickable13':
    'prefix': 'wait "time" seconds for the element with the ID of alias "identifier" to be clickable'
    'body': 'wait "$1" seconds for the element with the ID of alias "$2" to be clickable'

  'waitclickable20':
    'prefix': 'wait "time" seconds for the element with the class of "identifier" to be clickable'
    'body': 'wait "$1" seconds for the element with the class of "$2" to be clickable'
  'waitclickable21':
    'prefix': 'wait "time" seconds for the element with the class of "identifier" to be clickable ignoring timeouts'
    'body': 'wait "$1" seconds for the element with the class of "$2" to be clickable ignoring timeouts'
  'waitclickable22':
    'prefix': 'wait "time" seconds for the element with the class of alias "identifier" to be clickable ignoring timeouts'
    'body': 'wait "$1" seconds for the element with the class of alias "$2" to be clickable ignoring timeouts'
  'waitclickable23':
    'prefix': 'wait "time" seconds for the element with the class of alias "identifier" to be clickable'
    'body': 'wait "$1" seconds for the element with the class of alias "$2" to be clickable'

  'waitclickable30':
    'prefix': 'wait "time" seconds for the element with the xpath of "identifier" to be clickable'
    'body': 'wait "$1" seconds for the element with the xpath of "$2" to be clickable'
  'waitclickable31':
    'prefix': 'wait "time" seconds for the element with the xpath of "identifier" to be clickable ignoring timeouts'
    'body': 'wait "$1" seconds for the element with the xpath of "$2" to be clickable ignoring timeouts'
  'waitclickable32':
    'prefix': 'wait "time" seconds for the element with the xpath of alias "identifier" to be clickable ignoring timeouts'
    'body': 'wait "$1" seconds for the element with the xpath of alias "$2" to be clickable ignoring timeouts'
  'waitclickable33':
    'prefix': 'wait "time" seconds for the element with the xpath of alias "identifier" to be clickable'
    'body': 'wait "$1" seconds for the element with the xpath of alias "$2" to be clickable'

  'waitclickable40':
    'prefix': 'wait "time" seconds for the element with the name of "identifier" to be clickable'
    'body': 'wait "$1" seconds for the element with the name of "$2" to be clickable'
  'waitclickable41':
    'prefix': 'wait "time" seconds for the element with the name of "identifier" to be clickable ignoring timeouts'
    'body': 'wait "$1" seconds for the element with the name of "$2" to be clickable ignoring timeouts'
  'waitclickable42':
    'prefix': 'wait "time" seconds for the element with the name of alias "identifier" to be clickable ignoring timeouts'
    'body': 'wait "$1" seconds for the element with the name of alias "$2" to be clickable ignoring timeouts'
  'waitclickable43':
    'prefix': 'wait "time" seconds for the element with the name of alias "identifier" to be clickable'
    'body': 'wait "$1" seconds for the element with the name of alias "$2" to be clickable'

  'waitclickable50':
    'prefix': 'wait "time" seconds for the element with the css selector of "identifier" to be clickable'
    'body': 'wait "$1" seconds for the element with the css selector of "$2" to be clickable'
  'waitclickable51':
    'prefix': 'wait "time" seconds for the element with the css selector of "identifier" to be clickable ignoring timeouts'
    'body': 'wait "$1" seconds for the element with the css selector of "$2" to be clickable ignoring timeouts'
  'waitclickable52':
    'prefix': 'wait "time" seconds for the element with the css selector of alias "identifier" to be clickable ignoring timeouts'
    'body': 'wait "$1" seconds for the element with the css selector of alias "$2" to be clickable ignoring timeouts'
  'waitclickable53':
    'prefix': 'wait "time" seconds for the element with the css selector of alias "identifier" to be clickable'
    'body': 'wait "$1" seconds for the element with the css selector of alias "$2" to be clickable'
