'.source.feature':

  'waitpresent10':
    'prefix': 'waitpresent "time" seconds for the element with the ID of "identifier" to be present'
    'body': 'waitpresent "$1" seconds for the element with the ID of "$2" to be present'
  'waitpresent11':
    'prefix': 'waitpresent "time" seconds for the element with the ID of "identifier" to be present ignoring timeouts'
    'body': 'waitpresent "$1" seconds for the element with the ID of "$2" to be present ignoring timeouts'
  'waitpresent12':
    'prefix': 'waitpresent "time" seconds for the element with the ID of alias "identifier" to be present ignoring timeouts'
    'body': 'waitpresent "$1" seconds for the element with the ID of alias "$2" to be present ignoring timeouts'
  'waitpresent13':
    'prefix': 'waitpresent "time" seconds for the element with the ID of alias "identifier" to be present'
    'body': 'waitpresent "$1" seconds for the element with the ID of alias "$2" to be present'

  'waitpresent20':
    'prefix': 'waitpresent "time" seconds for the element with the class of "identifier" to be present'
    'body': 'waitpresent "$1" seconds for the element with the class of "$2" to be present'
  'waitpresent21':
    'prefix': 'waitpresent "time" seconds for the element with the class of "identifier" to be present ignoring timeouts'
    'body': 'waitpresent "$1" seconds for the element with the class of "$2" to be present ignoring timeouts'
  'waitpresent22':
    'prefix': 'waitpresent "time" seconds for the element with the class of alias "identifier" to be present ignoring timeouts'
    'body': 'waitpresent "$1" seconds for the element with the class of alias "$2" to be present ignoring timeouts'
  'waitpresent23':
    'prefix': 'waitpresent "time" seconds for the element with the class of alias "identifier" to be present'
    'body': 'waitpresent "$1" seconds for the element with the class of alias "$2" to be present'

  'waitpresent30':
    'prefix': 'waitpresent "time" seconds for the element with the xpath of "identifier" to be present'
    'body': 'waitpresent "$1" seconds for the element with the xpath of "$2" to be present'
  'waitpresent31':
    'prefix': 'waitpresent "time" seconds for the element with the xpath of "identifier" to be present ignoring timeouts'
    'body': 'waitpresent "$1" seconds for the element with the xpath of "$2" to be present ignoring timeouts'
  'waitpresent32':
    'prefix': 'waitpresent "time" seconds for the element with the xpath of alias "identifier" to be present ignoring timeouts'
    'body': 'waitpresent "$1" seconds for the element with the xpath of alias "$2" to be present ignoring timeouts'
  'waitpresent33':
    'prefix': 'waitpresent "time" seconds for the element with the xpath of alias "identifier" to be present'
    'body': 'waitpresent "$1" seconds for the element with the xpath of alias "$2" to be present'

  'waitpresent40':
    'prefix': 'waitpresent "time" seconds for the element with the name of "identifier" to be present'
    'body': 'waitpresent "$1" seconds for the element with the name of "$2" to be present'
  'waitpresent41':
    'prefix': 'waitpresent "time" seconds for the element with the name of "identifier" to be present ignoring timeouts'
    'body': 'waitpresent "$1" seconds for the element with the name of "$2" to be present ignoring timeouts'
  'waitpresent42':
    'prefix': 'waitpresent "time" seconds for the element with the name of alias "identifier" to be present ignoring timeouts'
    'body': 'waitpresent "$1" seconds for the element with the name of alias "$2" to be present ignoring timeouts'
  'waitpresent43':
    'prefix': 'waitpresent "time" seconds for the element with the name of alias "identifier" to be present'
    'body': 'waitpresent "$1" seconds for the element with the name of alias "$2" to be present'

  'waitpresent50':
    'prefix': 'waitpresent "time" seconds for the element with the css selector of "identifier" to be present'
    'body': 'waitpresent "$1" seconds for the element with the css selector of "$2" to be present'
  'waitpresent51':
    'prefix': 'waitpresent "time" seconds for the element with the css selector of "identifier" to be present ignoring timeouts'
    'body': 'waitpresent "$1" seconds for the element with the css selector of "$2" to be present ignoring timeouts'
  'waitpresent52':
    'prefix': 'waitpresent "time" seconds for the element with the css selector of alias "identifier" to be present ignoring timeouts'
    'body': 'waitpresent "$1" seconds for the element with the css selector of alias "$2" to be present ignoring timeouts'
  'waitpresent53':
    'prefix': 'waitpresent "time" seconds for the element with the css selector of alias "identifier" to be present'
    'body': 'waitpresent "$1" seconds for the element with the css selector of alias "$2" to be present'
